html {
  font-family: "Oswald";
  background-color: #fafafa;
}
header {
  position: relative;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #e3e3e8;
  background-color: #e1e5ed;
}
#logo {
  float: left;
  font-size: 3em;
  margin: 0;
  padding: .4em;
  text-decoration: none;
  color: #333;
  border-right: 1px solid #fafafa;
  transition: .5s all;
}
#logo:hover {
  color: #fafafa;
  background-color: #333;
}
nav {
  ;
  overflow: hidden;

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2.2em 2em;
}
nav ul li {
  display: inline;
  padding: 0 .4em;
}
nav ul li a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;/**/
  transition: .5s color;
}
nav ul li a:hover {
  border-bottom: 3px solid #333;
}

#current {
  color: #ff4629;
  border-bottom: 3px solid #333;
}


main{
  line-height: 1.25;
  font-family: "Open Sans", sans-serif;
}

main>button{
  margin-left: 3.5%;
  margin-right: 3.5%;
  margin-top: 1.5%;
  margin-bottom:1.5%;
  align-items: center;
  color: bold #475068;
  border: 2px solid #475068;
  background-color:#ddd ;
  color: #475068;
  padding: 16px 40px;
  font-size: 16px;
  font-family: "Oswald";
  cursor: pointer;
}

button:hover {
  background: #475068;
  color: white;
  border: none;
  color: #ddd;
  border-right: 3px;
  border-color: #ddd;
}

#secAlleFbilett{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.flight{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  text-align: left;
  padding: 15px 15px;
}

p:nth-child(even) {
  background-color: #f2f2f2
}
p:hover{
  background-color: #ddd;
  color: white;
}

@media(max-width:900px){
  #secAlleFbilett{
    grid-template-columns: 1fr;
  }
}
@media(max-width:700px){
  #secAlleFbilett{
    grid-template-columns: 1fr;
  }
}
@media(max-width:500px){
  #secAlleFbilett{
    grid-template-columns: 1fr;
  }
}
footer{
border-bottom: 2px solid white;
background-color: #475068;
font-family: "Oswald";
color: white;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}
