html {
  font-family: "Oswald";
  background-color: #fafafa;
  margin: 0;
  height: 100%;
}

.bg {
  /* The image used */
  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: white;
  position: absolute;

}

header {
  position: relative;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #e3e3e8;
  background-color: #e1e5ed;
}
#logo {
  float: left;
  font-size: 3em;
  margin: 0;
  padding: .4em;
  text-decoration: none;
  color: #333;
  border-right: 1px solid #fafafa;
  transition: .5s all;
}
#logo:hover {
  color: #fafafa;
  background-color: #333;
}
nav {
  ;
  overflow: hidden;

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2.2em 2em;
}
nav ul li {
  display: inline;
  padding: 0 .4em;
}
nav ul li a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;/**/
  transition: .5s color;
}
nav ul li a:hover {
  border-bottom: 3px solid #333;
}

#current {
  color: #ff4629;
  border-bottom: 3px solid #333;
}




col col-image{
  width: 100%;
  margin-bottom: 5px;
}


/*Om Fly for You about us del*/
/*Innehold av tekst*/
.col-text {
  height:20em;
  background-color: rgb(51, 52, 56);
  color: white;
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  margin: 10px;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  width: 60%;
}
.col-image {
  background-size: cover;
  background-position:center center;
}

@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
   }
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
  }
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
h1{
  margin-top: 100px;
  color: #333;
}

.DesBilde{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
	margin-top: 20px;
  background-color: vec3(0.84, 0.84, 0.84);
  margin-bottom: 100px
}
.container{
  background-color: white;
padding: 0px 16px;
}


#Flerebilder{
  width: 100%;
  margin-left: 1%;
  margin-right:1%;
 position: center center;
}
/* Add some shadows to create a card effect */
.card {
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media(max-width:900px){
  .DesBilde {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #Flerebilder
}
@media(max-width:700px){
  .DesBilde {
    grid-template-columns: 1fr 1fr;
  }
  #Flerebilder
}
@media(max-width:300px){
  .DesBilde {
    grid-template-columns: 1fr;
  }
  #Flerebilder
}


.title {
  color: grey;
}

.ContainerBtn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.ContainerBtn:hover {
  background-color: #555;
}

footer{
border-bottom: 2px solid white;
background-color: #475068;
font-family: "Oswald";
color: white;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}
